body{
	margin: 0px;
	padding-right: 0 !important;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 300;
    background: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
h3{
  margin-top:10px !important;
}
.mediumGreay{
  color: #333;
}
.whiteColor{
  color: white;
}
.whiteColor1 i{
  color: white;
}
.blueBackColor{
  background-color:#333;
  min-height:55vh;
}

.blueBodyColor{
  background: #0BBAE8;
}

.noPadding h4{
  font-weight: 600;
  color: #333;
}
.whiteColor:hover{
  color: white;
}
/*header css*/
  /*top bar css*/
.header{
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  min-height: 23vh;


}
#top-line{
  background-color:#0BBAE8;
  padding-bottom:7px;
 
}

.top-line{
  background-color:#0BBAE8;
  padding-bottom:7px;
}
.topLineText i{
  color: white;

}
.topLineText{
      color: #ffffff;
    border-radius: 2px;
    padding-top: 5px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26.4px;
}


.topNameplateText{
  margin-left:20px;
  background:white;
  color: #0BBAE8;
  padding: 3px 5px 3px 5px;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 13px;
}
#navHeader{
  background: white;
  
}


  
.hrLine{
  
  margin-top: 10px;
  margin-bottom:0px;
}

.hrLine2{
  margin-top: 0px;
  margin-bottom:0px;
}

.hrLine1{
  
  margin-top: 10px;
  margin-bottom:20px;
}
.cartContents{
  font-weight: bold;
  color: black
}
.cartLiBack{
  background: #F1F1F1;
  width: 170%;
}

.cartLiBack li a:hover{
  background: #ada6a6;
}
/*.dropdown-menu {
  width: 200%;
}*/
/*.form-control {
  padding: 0px 0px 0px 0px;
  height: 2.2em;
  border-radius: 2px;
}*/
.listStyle ul{
  list-style: none;
  line-height: 3;
  padding-left: 0px;
  padding-bottom: 0px;
}
.ulBottomMargin ul{
  margin-bottom: 0px;
}

.cartItems li{
  float: left;
  width: 100%;
  margin-left: -20px;

}
/*logo*/
.logo{
  
  font-weight:1.2em;
  font-family: "Futura-Light", sans-serif;
  color: black;
}
.logo a:hover{
  color: black;
  text-decoration: none;
}
.logo a{
  color: black;
  font-size:8em;
}
.logo a h2{
  
  font-size:0.2em;
}


  /*navbar css property*/
.navbar-default{
  background: white;
  border: none;
  box-shadow: none;
} 
.navbar{
  margin-bottom: 0px;
}
.navbar .nav > .active > a {
    background:#0BBAE8;
    border-radius: 4px;
    color: white;
   font-family: "Futura-Light", sans-serif;

}
.navbar .nav > .active > a:hover {
    background:#0BBAE8;
    border-radius: 4px;
    color: white
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    
background:#0BBAE8;
    border-radius: 4px;
    color: white
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li{
    padding-left: 4px;
}
.wrapper {
  min-height: 77vh;
  

} 

.navLiBackColor li>a:hover
{
  background:#0BBAE8; 
  color: white;
}

.navLiBackColor li:hover ul{
   display: block; 
}


.navLiBackColor ul{
  
}
/*homeContant start here*/  

/* homepage product carosual*/

* {
      box-sizing: border-box;
    }

/*.slick-slider{
  min-height: 400px;
}
.slider 
{
  width: 100%;
  
}*/
.slick-prev:before,
.slick-next:before 
{
  color: #0BBAE8;
  background: none;
}
.slick-prev, .slick-next{
  font-size: 40px
}
.slick-prev:before, .slick-next:before{
  font-size: 40px;
}
.slick-next 
{
  right: 40px;
}
.slick-prev {
   left: 20px;
   z-index: 10;
} 

/*
.slick-next 
{
  /*right: -10px;/
  font-size: 20px

}

.slick-slide{
  min-width: 280px;
}
.slick-prev {
   /*left: 0px;/
} 


.h4Height{
  
}

  
  /*heading css*/

.headingContent{
  background:#0BBAE8;
  color:white;
  
  
}
.headingContent h1{
  font-family: "Futura-Regular", sans-serif;
  font-size: 30px;
  margin: 20px 20px 20px 0px;
  line-height: 10px;
}
.aboveMargin{
  margin-top: 50px;
}


/*Recent work section*/

.productBorder{
    border:1px #DCDCDC solid;
    padding: 10px;
    
}
.flexrow {
  display: flex;
   /*for debug*/
}
.flexrow > * {
  flex: 1;
  margin: 1em;
  outline: auto green;
}
#rowMargin{
 margin-top: 40px;
 margin-bottom: 50px
}

/*recent Image Hover*/

/*Product showcase*/

.showcaseBorder{
  border:1px solid #0bbae8;
  min-height: 200px;

}
.topPosition{
display: block;
}

.colDist1{
  padding-right: 20px;

}
.innerCol{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: -10px;
  padding-top: 0px;
}

.col1Height{
  min-height: 45vh;
}
.col2Height{
  min-height: 45vh;
  
}
.col3Height{
  min-height: 33.33vh
}
.col4Height{
  min-height: 44.33vh
}
.showCaseText{
 
  font-size: 5em;
}
.noPaddingLeftRight{
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.marginrightZero{
  margin-right: 0px;
}

.marginleftZero{
  margin-left: 0px;
}
.onlyPaddingRight{
  padding-left: 0px;
  padding-right: 0px;
  
}
.noMarginTopBottom{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.marginrightZero{
  margin-right: 0px;
}
.onlyPaddingRight{
  padding-left: 0px;
  padding-right: 0px;
  
}
.noMarginTopBottom{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.height100{
 min-height:100%;
}
.height50vh{
  min-height: 50%;
}

.minHeigth600{
  min-height: 600px
}
.minHeigth300{
  min-height:293px
}
/*product showcase hover effect*/
.box {
  cursor: pointer;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #c6a05f;
  
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;

}

.foo::before {
  border-bottom: 2px solid #c6a05f;
  border-left: 2px solid #c6a05f;
  -webkit-transform-origin: 0 100%;
}

.foo::after {
  border-top: 2px solid #c6a05f;
  border-right:2px solid #c6a05f;
  -webkit-transform-origin: 100% 0%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}


.block1 img {
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;

  
}
 .box img:hover {
  
  background:rgba(0,0,0,1);
}

.block1 .block-caption1 {
  font-family: FontAwesome;
    content: "\f06e";
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    top:50%;
    bottom: 0;
    color: #fff;
    display: table;
    left: 20%;
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    width: 340px;
}
.block1:hover .block-caption1 {
    opacity: 1;
}

.block-caption1 i {
    border: 1 solid #fff;
}
.block-caption1 i:hover{
  background: #fff;  
}

/*footer css*/

  /*testonomial css*/
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
.footerTextColor h3{
  color: #0DCBFF;
  font-family: "Futura-Regular", sans-serif;
}

.footContactIconSize i{
  font-size: 14px;
}
.carouselElement h5{
  color: white;
  font-family: "Futura-Light", sans-serif;
 font-weight: normal;

}
.footerTextColor ul li:before {
    content: "\f0da";
    font-family: FontAwesome;
    color: #0DCBFF;
    margin-right: 4px;
    font-size: 14px;
}

.footerTextColor ul li {
   list-style: none;

}
.footerTextColor ul 
{
  padding-left: 0;
}
.carouselElement span{
  font-size: 12px;
  color: white;
  float: right;
  padding-bottom: 0px;
  font-family: "Futura", sans-serif;
    font-weight: normal;
}
.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.FootSiteMap ul li a{
  color: white;
   font-family: "Futura-Regular", sans-serif;
  font-weight: normal;
}
.contactText{
  color: white;
}


.iconSize{
  
  color:#0DCBFF;
  float:left
}

.ContactText h5{
  
  font-weight: 900;

}
.fa-linkedin:before {
    content: "\f0e1";

}
.fa {
    color: #0bbae8;
}
.fa-stack-1x {
    color: #ffffff!important;
}
.Circle{
  color:#0DCBFF !important;
}
.Icon{
  color: #ffffff!important; 
}
.featureText h5 ,h3{
  color: #373536;
}

.featuresImage img{
  height: 70px;
  text-align: center;
  border: none;
  margin-left: auto;
  margin-right: auto
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #0BBAE8 !important;
}


.back-to-top 
{
  background: none;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 50px; 
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0px 10px 0px 10px;
  z-index: 100;
  display: none;
  text-decoration: none; 
  background-color: #0BBAE8;
  border-radius: 7px;
 
}
 
 .back-to-top i {
 
  font-size: 50px;
  font-weight: 700;
  color: white;
  z-index: 100;

 
}

.socialIcons{
  position: fixed;
  bottom: 0;
  right: 0;
   z-index: 9999;
  margin-bottom: 300px;
}

.socialIcons ul{
  list-style: none;
}
/*blog grid*/

.full{
  background: url(../images/blogBack.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.full1{
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.BlogContent{
  background:#0BBAE8;
  color: white;
  padding: 10px;  

}
.BlogContent1{
  background:#0BBAE8;
  color: white;
  min-height: 274px;
}
.BlogContent1 h3{
  color: white;
  padding-top:20px;
 
   font-family: "Futura-Regular", sans-serif;
}
.blogImg1 img{
  
}

.blogImage1{
  min-height:274px;
}
.BlogContent h3{
  color: white;
   font-family: "Futura-Regular", sans-serif;
}
.blogImg img{
  padding-top: 20px;
}
.colDist{
  padding-left: 60px;

}
.blogImage{
  margin-top:20px;
  min-height:274px;
}
.recentBlogPadding{
  padding: 30px 30px 30px 30px;
}
/*recent product grid*/
#recentproductMargin{
 
  padding-top: 20px;
}
.full-width-row {
  overflow-x: hidden;
}

.full-width-row > div {
  margin-left: -15px;
  margin-right: 0px;
}
/*about Us css*/   
.card{
   box-shadow:0 0 5px #888;
   border-radius: 5px;
   background: white;
}
.card1{
   box-shadow:0 0 8px #888;
   border-radius: 5px;
   background: white;
   
}

.about-us-image{
 
    min-height: 60vh;
}
.aboutImgText{
  margin-top: 10%;
  color: white;
  
}
.aboutImgText h1{
  font-size: 52px;
  text-transform: uppercase;
}

.aboutContent p{
  font-size: 16px;
    line-height: 1.42857143;
     font-family: "Futura-Regular", sans-serif;
    
}

.storesPadding{
  padding: 30px 10px 30px 10px;
}

/*product css*/

/*left nav*/
.navLinks ul{
  list-style: none;
  padding: 0px;
  
}
.navLinks ul li a{
  color: #3B3B3B;
  text-decoration: none;
  text-align: left;
  font-weight: 600;
  line-height: 1.42857143;
  font-size: 16px;
   
}
.fillterLi ul li{
  padding-top: 5px;
}


.navLinksLi li{
 padding: 15px 0px 10px 10px;
}

.colleftstyelnone{
  padding-left: 0px;
}

.priceRangeCheckbox ul
{
  list-style: none;
  padding-left:10px; 
}

.priceRangeCheckbox ul li a
{
  text-decoration: none;
  color: black;
}
.priceRangeCheckbox ul li
{
    padding-bottom:  5px;

}    
/*main product css is here */

.product{
  padding-top:5px;
}
.product img{
  min-height: 270px;
}

.product h4{
  height: 40px;
}

.product .starIcon i{
  color: #0BBAE8;
} 

.product p{
  color: #3B3B3B;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;
   min-height: 32px;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.product .padding10{
  padding: 10px 10px 5px 10px;
}
/*.product .productbutton1{
  list-style: none;
  text-align: center;
  padding: 0px 10px 0px 10px;
  width: 100%;
}*/

.product .button1{
  min-width: 15%;
  float: left;
  margin-right: 6px;
  margin-bottom: 5px;
}

.product .button2{
  min-width: 30%;
  float: left;
  margin-right: 6px;
  margin-bottom: 5px;
}

.product .button3{
  min-width: 50%;
  float: left;
  margin-bottom: 5px;
}
/*.product .productbutton1 i{
  color: white;
 background:#0BBAE8;
 padding: 5px;
 border: 1px solid #0BBAE8;
 border-radius: 3px;
}
.product .productbutton1 i:hover{
  color: #0BBAE8;
 background:white;
 border: 1px solid #0BBAE8;
}
.product .productbutton1 span:hover{
  color: #0BBAE8;
 background:white;

}*/
.noPaddingRight{
  padding-right: 10px;
 
 }
.noPaddingLeftRight{
  padding-right: 0px;
}
.noPaddingleft{
  padding-left: 10px;
 
 }
  .noRightPadding{
  padding-right: 0px;
 }

 .nopaddingleft{
  padding-left: 0px;
 }

/*.productbutton1 i , span{
  font-size:1em;
  line-height:1.5em;
  
}*/

/*product hover Effect*/
.block {
    display: block;
   
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
}
.block img {
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
}
.block .block-caption {
  font-family: FontAwesome;
    content: "\f06e";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-align: center;
    background: rgba(11, 186, 232,0.9);
    top:40%;
    bottom: 0;
    color: #fff;
    display: table;
    left: 25%;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    width: 140px;
}
.block-caption i{
  color: white;
}
.block:hover .block-caption {
    opacity: 1;
}


.block-caption:visited {
    background: rgba(0, 0,0,0.9);
}
 
/*home Profuct button*/

.wishlist i{
  
  padding-top: 4px;
}

/*single product css*/

.productBorder{
  border:1px solid rgba(0, 0, 0, 0.1);
}


.sugProduct{
  min-height: 80px;

}
.proHead{
  font-size: 30px;
}
.drakGreay{
  color: #3B3B3B;
  font-family: "Futura", sans-serif;
  font-weight: 600;
  line-height: 1.42857143;
  font-size: 16px;
}
.drakGreay1{
  

}
.productCount{
  float: left;
  width:15%;
  font-weight: 600;
  color: black;
  font-family: "Futura-Light", sans-serif;

}
/*.quantity h4{
  float: left;
}*/


.proWishList{
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.proWishList:hover{
  text-decoration: none;
  color: black;
}
.black{
  color: black;
}
.reviewFeilds{
  display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    color: #3B3B3B;
}
/*.btn{
  margin-top: 20px;
}*/
.table{
  margin-bottom: 0px;
}

.table td{
  font-size: 16px;
}



/*cart css*/

.thead-default{
  background: #ECEEEF;
}


.faintgrey{
  background: #F5F5F5;
}

.greayBorder{
  border: 1px solid #ddd;
}


.cart .cartHeading{
  line-height: 2.5em;
}

.minheight175{
  height: 200px;
}


.cartBorderRight{
   border-right: 1px solid #ddd;
   min-height: 200px;
}
.cartContent > li > a{
  float: left;
  margin-left: 0px;
}

/*chaeckout css*/


.noPadding{
  padding-left: 0px;
}



.placeOrderText p{
  color: #3B3B3B;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
}
.placeOrderText{
  background: #DFDCDE;
}
.placeOrderText span{
  font-weight: 1200;
  font-size: 15px;
}
.boderRadius5{
      border-radius: 5px;
}

.hoverImage a:hover{
 

}

/*display Product css*/
 .tabs>li.active>a, .tabs>li.active>a:focus, .tabs>li.active>a:hover{
      border: none;
      border-bottom: 1px solid #ddd;
      background: white;

   }

   .tabs li a{
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 300;
   }
   .tabs {
    border-bottom: none;
}
.pContent{
  font-size: 16px;
      font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.tablepadding>tbody>tr>td{
  padding: 8px 5px 8px 5px;
}
.tabs>li
{
  float: none;
}

.tabs>li>a
{
  color:black;
}

/*Customize css*/
/*Accordations Css*/
  #accordion ul li a{
    color: black;
    font-size: 14px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    text-decoration: none;
  }
.panel-title
{
  font-size: 18px;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 500;
}
  #accordion ul li {
    list-style: none;
    padding-left: 0px;
  }
  #accordion ul  {
    
    padding-left: 0px;
  }
  #accordion ul li a:before {
    content: "\f0da";
    font-family: FontAwesome;
    text-decoration: none;
    margin-right:15px;
    font-size: 14px;

}
  .accordationPanel{
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
  }

#divTile { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px; 
    background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}
.panel-default>.panel-heading{
  background-image: none;
  background-color: #0BBAE8;
  color: white;
  font-size: 14px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
} 

.CustomSubHead {
  padding: 5px 0px 5px 0px;
  background:#0BBAE8;
  color: white;
  border-radius: 5px;
}
.CustomSubHead h4{
  padding-left: 10px;

}

.inputWidth input{
  width: 45px;
  padding-right: 5px;
  box-shadow: none;
}
.custSize select{
    height: 44px;
    width: 50px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 1.3333333;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
.custSize1 select{
    height: 44px;
    width: 260px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 1.3333333;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}


#div1 {
    width:570px;
    min-height: 600px;
    padding: 10px 10px 10px 0px;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.custButton{
  width: 80%;
}

.custButton i{
  color: white;
}
.inputWidth1 input{
  width: 120px;
}

.inputWidth h5{
  padding-left: 10px;
   color: black;
}
.inputWidth1 h5{
  padding-left: 10px;
  color: black;
}
.cutomizeDropdown{
  min-width: 40px;
}

.styleBUI span{
  padding: 10px;
  background: #0BBAE8;
  color: white;

}
.styleBUI i{
  padding: 10px;
  background: #0BBAE8;
  color: white;
  
}
.cutomizeDropdown ul.cutomizeDropdown-menu 
{
  border-radius:4px;
  box-shadow:none;
  width:25px;
  list-style: none;
}

.cutomizeDropdown li{
  text-align: center;
}

.table-bordered>thead>tr>th{
  border-bottom:0px;
  font-size: 16px; 
}
.tableBottomBorder thead>tr>th{
  height: 100px;
  padding-bottom: 30px;
}
.topBorderNone>tbody>tr>td{
  height: 39px;
}
#line1 p{
   text-shadow: 3px 2px 4px rgba(0,0,0,0.7);
}

#line2 p{
   text-shadow: 3px 2px 4px rgba(0,0,0,0.7);
}
#line3 p{
   text-shadow: 3px 2px 4px rgba(0,0,0,0.7);
}

  #thumbwrap {
  /*margin:75px auto;
  width:252px; height:252px;*/
}
.thumb {
   /* must be floated for same cross browser position of larger image */
  position:relative;
  margin:3px;
}
.thumb img { 
  border:1px solid #ddd;
  vertical-align:bottom;
}
.thumb:hover {
  border:0; /* IE6 needs this to show large image */
  z-index:1;
  min-height: 30px;
}
.thumb span { 
  position:absolute;
  visibility:hidden;
}
.thumb:hover span { 
  visibility:visible;
  top:37px; 
  left: 0px; 
}

td{
  color: #3B3B3B;
}

.panel-heading h4{
  color: white;
}

.tabContent {
  border-left:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  height: 100px;
  }

  .height30{
    height: 30px;
  }

  .greyBorder{
    border: 1px solid #ccc;
  }

  .colorVisit a:visited{
    border: 1px solid blue;
  }

.namplateName {
  display: block;
  border: none;
}

.namplateName:hover + .namePlateImg {
  display: block;
}

.namePlateImg {
  display: none;  
  
}

 /* fillter css*/
.fillter
{
  background: #ccc;
  border-radius: 3px;
}
.input li{
  width: 30%;
}
.fillterNav li a:hover
{
  background: none;
}
.fillterNav ul{
  list-style: none;
  padding-left: 0px;
}
/*.dropdown:hover .dropdown-menu {
    display: none;
}*/

.fillterDropdown select{
  width: 200px;
  height: 40px;
  background: white;
  padding: 10px;
}
/*.caret{
  color:#0bbae8;
  border-top:10px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}*/

.borderBottom{
  border-bottom: 5px solid #0bbae8;
}

/*wishlist css*/

.wishListImg img{
  min-width: 150px;
  min-height: 250px;
  margin-top: 0px;
}

.wislistRemoveItem a{
  color: #0BBAE8;
}

.navLiBackColor:hover{
  background: white;
}
.inputSize {
  height: 46px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 1.3333333;
    
    width: 200px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}


@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/*social icons*/

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
     }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }



@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }

.size {
    margin-right: 10px; }
.size:first-of-type {
    margin-left: 40px; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }


/*contact css*/


/*padding class h4es*/
  
.paddingtop5{
  padding-top: 2px;
}
.padding5{
  padding: 10px;
} 
.padd5{
  padding:5px;
}  
    /*padding classes*/
.padding10{
  padding: 10px;
}
.padding20{
  padding: 20px;
}
.padding30{
  padding: 30px;
}
.padding40{
  padding:40px;
}
.padding50{
  padding: 50px;
}    

    /*padding left class*/

.paddingleft10{
  padding-left: 10px;
}
.paddingleft20{
  padding-left: 20px;
}
.paddingleft30{
  padding-left: 30px;
}
.paddingleft40{
  padding-left: 40px;
}
.paddingleft50{
  padding-left: 50px;
}

   /*padding right class*/
.paddingright10{
  padding-right: 10px;
}
.paddingright20{
  padding-right: 20px;
}
.paddingright30{
  padding-right: 30px;
}
.paddingright40{
  padding-right: 40px;
}
.paddingright50{
  padding-right: 50px;
}

/*padding top class*/
.paddingtop10{
  padding-top: 10px;
}
.paddingtop20{
  padding-top: 20px;
}
.paddingtop30{
  padding-top: 30px;
}
.paddingtop40{
  padding-top: 40px;
}
.paddingtop50{
  padding-top: 50px;
}

   /*padding bottom class*/
.paddingbottom10{
  padding-bottom: 10px;
}
.paddingbottom20{
  padding-bottom: 20px;
}
.paddingbottom30{
  padding-bottom: 30px;
}
.paddingbottom40{
  padding-bottom: 40px;
}
.paddingbottom50{
  padding-bottom: 50px;
}
.paddingbottom100{
  padding-bottom: 100px;
}


/*margin classes*/
  
    /*margin classes*/
.margin10{
  margin: 10px;
}
.margin20{
  margin: 20px;
}
.margin30{
  margin: 30px;
}
.margin40{
  margin: 40px;
}    
.margin50{
  margin: 50px;
}
    /*margin right class*/
.marginleft10{
  margin-left: 10px;
}
.marginleft20{
  margin-left: 20px;
}
.marginleft30{
  margin-left: 30px;
}
.marginleft40{
  margin-left: 40px;
}
.marginleft50{
  margin-left: 50px;
}

   /*padding left class*/
.marginright10{
  margin-right: 10px;
}
.marginright20{
  margin-right: 20px;
}
.marginright30{
  margin-right: 30px;
}
.marginright40{
  margin-right: 40px;
}
.marginright50{
  margin-right: 50px;
}

/*margin top class*/
.margintop10{
  margin-top: 10px;
}
.margintop20{
  margin-top: 20px;
}
.margintop30{
  margin-top: 30px;
}
.margintop40{
  margin-top: 40px;
}
.margintop50{
  margin-top: 50px;
}
.margintop65{
  margin-top: -80px;
  
}

   /*padding bottom class*/
      .marginbottom15{
  margin-bottom: 15px;
}
     .marginbottom25{
  margin-bottom: 15px;
}
 .marginbottom35{
  margin-bottom: 35px;
}
.marginbottom10{
  margin-bottom: 10px;
}
.marginbottom20{
  margin-bottom: 20px;
}
.marginbottom30{
  margin-bottom: 30px;
}
.marginbottom40{
  margin-bottom: 40px;
}
.marginbottom50{
  margin-bottom: 50px;

}


#div1 .dragme {
    position: absolute;
   /* cursor: move;*/
    padding: 5px;
}

.bold { font-weight: bold; }
.italic{
  font-style: italic;
}
.underline{
  text-decoration: underline;
}
/*
#selectable .ui-selecting {
  background: green;
}
#selectable .ui-selected {
  background: red;
}
*/


.product .btn-primary{

  background-color: #0BBAE8 !important;
  border-color: #0BBAE8 !important;
  background-image: none !important;
}
.product .btn-primary .fa{
  color: #fff;
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
@media only screen and (min-width : 480px) {
    .row .smMargin {
     margin-right: 0px; 
    /* margin-left: -15px; */}

    #myModal2
    { 
      min-width: 100%;
    }
    
}

    /* Small Devices, Tablets */
     @media (min-width: 768px){
      
    .smCenter{
        text-align: center;
      }
      .navbar {
      
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .smRight{
        text-align: right;
      }  
      
}
@media (min-width: 1200px) {
    
}
@media (min-width: 768px) and (max-width: 979px) {


    h6 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  }
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  /*max-width: 1000px;*/
  list-style: none;
  text-align: center;
}

/* Common style */
 figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /*min-width: 320px;
  max-width: 480px;
  max-height: 360px*/;
 /* width: 48%;*/
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

 figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

 figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

 figure figcaption::before,
 figure figcaption::after {
  pointer-events: none;
}

 figure figcaption,
 figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
 figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

 figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

 figure h2 span {
  font-weight: 800;
}

 figure h2,
 figure p {
  margin: 0;
}

 figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
 /*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
  background: #18a367;
}


figure.effect-layla figcaption {
  padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

figure.effect-layla figcaption::before {
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
  top: 30px;
  right: 50px;
  bottom: 30px;
  left: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

figure.effect-layla h2 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-layla p {
  padding: 0.5em 2em;
  text-transform: none;
  opacity: 0;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}



/*
Credits:
https://github.com/marcaube/bootstrap-magnify
*/

.mag {
    width:200px;
    margin: 0 auto;
    float: none;
}
    
.mag img {
    max-width: 100%;
}
        
  

.magnify {
    position: relative;
    cursor: none
}

.magnify-large {
    position: absolute;
    display: none;
    width: 175px;
    height: 175px;

    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
             border-radius: 100%
}

.addpattern {
  text-fill-color: transparent; /* not yet supported */
  background-clip: text; /* not yet supported */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent; /* not yet supported */
  -moz-background-clip: text; /* not yet supported */
}

#sidebar.affix {
    position: fixed;
    top: 30px;
}
#sidebar.affix-bottom {
    position: fixed;
    top: 30px;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }
  
  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }
  
  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
  
  
  
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
  
}


.font-select {
  font-size: 16px;
  width: 210px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.font-select .fs-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 999;
}

.font-select > a {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
}

.font-select > a span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.8;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer;
}

.font-select > a div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius   : 0 4px 4px 0;
  border-radius        : 0 4px 4px 0;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  border-left: 1px solid #aaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}

.font-select > a div b {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.font-select .fs-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}

.font-select .fs-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  width: 200px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.font-select .fs-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
  font-size: 18px;
}

.font-select .fs-results li.active {
  background: #3875d7;
  color: #fff;
  cursor: pointer;
}
.font-select .fs-results li em {
  background: #feffde;
  font-style: normal;
}

.font-select .fs-results li.active em {
  background: transparent;
}

.font-select-active > a {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}

.font-select-active > a {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}

.font-select-active > a div {
  background: transparent;
  border-left: none;
}

.font-select-active > a div b {
  background-position: -18px 1px;
}


#terms-and-conditions .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}
#terms-and-conditions .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#terms-and-conditions ul li{
  list-style: disc;
  margin-left: 15px; 
}


.colors{
  min-width: 50px !important;
}



.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 64px; font-size: 64px; line-height: 64px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }